<div class="row mt-5">
    <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <p class="fs-1">Change password!</p>
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {{/if}}
        <form action="/auth/password" method="POST">
            <input type="hidden" name="_csrf" value="{{ csrf }}" />
            <input type="hidden" name="userId" value="{{ userId }}" />
            <input type="hidden" name="token" value="{{ token }}" />
            <div class="mb-3">
                <label for="password" class="form-label">New password</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-success w-100">Change</button>
        </form>
    </div>
</div>